.App {
  font-family: sans-serif;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  background-color: black;
}
.Link {
  display: inline-block;
  text-decoration: none;
  color: white;
}
